<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Exam</title>
    <link rel="stylesheet" th:href="@{../css/stustyle.css}">
</head>
<body>
    <header>
        <div class="mainheader">
           <img src="image/logo.png" alt="Logo">
            <h1>Edueye</h1>
        </div>
    </header>
    <div class="stumain">
    	<div class="studashboard">
            
            <ul>
                <li><a th:href="@{/user-page}">Home</a></li>
                <li><a th:href="@{/stuexam}">Exam</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
        <div class="stusingleexam">
        	<div class="stuexam">
        		<h3 id ="examNameMain"></h3>
        		<!--<h1 th:text="'Exam: ' + ${examName}"></h1>-->
        	<div id="timerRow">
        	<h4>Time Left: <span id="timer">00:00:00</span> mins</h4>
        	</div>
              	 
              	 <div id="duration" th:text="${duration}" style="display: none;"></div>
              	<div class="stusingleexamtable">
				  <table id="stu">
				    <tr>
				        <td th:text="${currentQuestion.question_content}"></td>
				       <!-- <td th:text="${currentQuestion.question_id}"></td>-->
				    </tr>
				    <tr>
				        <td>
				            <ul class="answers" th:each="answer : ${currentAnswers}">
				                <li>
				                    <input type="radio" name="selectedAnswer" th:id="'answer_' + ${answer.answer_id}"
				                     th:value="${answer.answer_id}" onchange="saveSelectedAnswer(event)">
				                    <label th:text="${answer.answer}"></label>
				                </li>
				            </ul>
				        </td>
				    </tr> 
				</table>

              </div>
              <div class="excontrolbtn">
				    <table id="tablebutton">
					    <tr>
					        <th>
					            <form method="get" name="previousForm" onsubmit="goToPreviousQuestion();">
					                <input type="hidden" name="currentQuestionIndex" th:value="${currentQuestionIndex - 1}" />
					                <button type="submit" name="action" value="previous" th:disabled="${currentQuestionIndex == 0}" class="nav-button">Previous</button>
					            </form>
					        </th>
					        <th th:text="'Question ' + (${currentQuestionIndex + 1}) + ' of '+ (${totalQuestions})"></th>
					        <th>
					            <form method="get" name="nextForm" onsubmit="goToNextQuestion()">
					                <input type="hidden" name="currentQuestionIndex" th:value="${currentQuestionIndex + 1}" />
					                <button type="submit" name="action" value="next" th:disabled="${currentQuestionIndex == totalQuestions - 1}" class="nav-button">Next</button>
					            </form>
					        </th>
					    </tr>
					</table>

			</div>
      
              <div class="savebuttontable">
                <table>
                    <tr>
                        <th><input type="hidden" id="questionId" th:value="${currentQuestion.question_id}" />
							<button onclick="redirectToStuExamPage()">Save</button></th>
                        <th><button onclick="displaySavedAnswers()">Complete</button></th>
                    </tr>
                </table>
              </div>
        	</div>
        </div>
    </div>
    <footer>
        <div class="mainfooter">
            &copy; 2024 EduEye. All rights reserved.
        </div>
    </footer>
   
 <script>
 
 	// Function to fetch attemptId from backend
	/* function fetchAttemptId(userId, examId) {
	    const url = `/getAttemptId?userId=${userId}&examId=${examId}`;
	    return fetch(url)
	        .then(response => response.json())
	        .then(data => data.attemptId)
	        .catch(error => {
	            console.error('Error fetching attemptId:', error);
	            return null;
	        });
	} */

    function saveSelectedAnswer() {
	    event.preventDefault(); 
	
	    const questionId = document.getElementById('questionId').value;
	    const selectedAnswerId = document.querySelector('input[name=selectedAnswer]:checked').value;
	    const data = {
	        questionId: questionId,
	        selectedAnswerId: selectedAnswerId
	    };
	    console.log('Question ID:', questionId, 'Answer ID:', selectedAnswerId);
	    sessionStorage.setItem(`selectedAnswer_${questionId}`, JSON.stringify(data));
	    console.log(`Answer for question ${questionId} saved:`, data);
	}
	
	function redirectToStuExamPage() {
            window.location.href = '/stuexam';
        }


    window.addEventListener('load', function() {
	    const questionId = document.getElementById('questionId').value;
	    const storedData = sessionStorage.getItem(`selectedAnswer_${questionId}`);
	    if (storedData) {
	        const parsedData = JSON.parse(storedData);
	        const selectedAnswerId = parsedData.selectedAnswerId;
	        document.querySelector(`input[name=selectedAnswer][value="${selectedAnswerId}"]`).checked = true;
	    }
	    
	});
	function displaySavedAnswers() {
		const savedAnswers = [];
		const examId = sessionStorage.getItem('examId');
    	const userId = sessionStorage.getItem('userId');
    	console.log('Exam ID:', examId);
		console.log('User ID:', userId);
    	if (!examId || !userId) {
        	console.log('No examId or userId found in sessionStorage');
        	return; 
    	}
    	
	    for (let key in sessionStorage) {
	        if (key.startsWith('selectedAnswer_')) {
	            const data = JSON.parse(sessionStorage.getItem(key));
	            const selectedAnswer = {
	                selectAns_id: null,
	                selected_answer: data.selectedAnswerId,
	                question_id: data.questionId,
	                examId: examId,
	                userId: userId
	            };
	            savedAnswers.push(selectedAnswer);
	            console.log(`Question ID: ${data.questionId}, Answer ID: ${data.selectedAnswerId}`);
	            sessionStorage.removeItem(key);
	        }
	    }
	   
	     const selectA = fetch('/saveanswers', {
	        method: 'POST',
	        headers: {
	            'Content-Type': 'application/json'
	        },
	        body: JSON.stringify(savedAnswers)
	    });
	    selectA.then(response => {
	        if (!response.ok) {
	            throw new Error('Network response was not ok');
	        }
	        console.log('Selected answers sent successfully');
	        const updateAttempt = fetch('/completeAttempt', {
	            method: 'POST',
	            headers: {
	                'Content-Type': 'application/json'
	            },
	            body: JSON.stringify({ examId: examId, userId: userId })
	        });
	        updateAttempt.then(response => {
	            if (!response.ok) {
	                throw new Error('Error updating attempt status');
	            }
	            console.log('Attempt status updated successfully');
	        	window.location.href = `/result/${examId}/${userId}`;
	        }).catch(error => {
            	console.error('Error updating attempt status:', error);
        	});
	    })
	    .catch(error => {
	        console.error('Error sending selected answers:', error);
	    });
	    
	   //  sessionStorage.clear();
    };
    
	// Function to parse URL parameters
	function getParameterByName(name, url) {
	    if (!url) url = window.location.href;
	    name = name.replace(/[\[\]]/g, '\\$&');
	    const regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)');
	    const results = regex.exec(url);
	    if (!results) return null;
	    if (!results[2]) return '';
	    return decodeURIComponent(results[2].replace(/\+/g, ' '));
	}
	
	// Get examId and userId from URL parameters
	const examId = sessionStorage.getItem('examId');
	const userId = sessionStorage.getItem('userId');
	console.log('Exam ID:', examId);
	console.log('User ID:', userId);
	
	// save examattempt details
	document.addEventListener('DOMContentLoaded', function() {
	    const examId = sessionStorage.getItem('examId');
		const userId = sessionStorage.getItem('userId');
		
		if (examId && userId) {
	        sessionStorage.setItem('examId', examId);
	        sessionStorage.setItem('userId', userId);
	    } else {
	        console.log('No data found in URL parameters');
	    }
		
	    if (examId && userId) {
	        
	        const dataAt = {
	            examId: examId,  
            	userId: userId
	        };
	
		// Send data to backend
	        const exAtt = fetch('/saveAttemptData', {
	            method: 'POST',
	            headers: {
	                'Content-Type': 'application/json'
	            },
	            body: JSON.stringify(dataAt)
	        })
	        exAtt.then(response => {
	            if (!response.ok) {
	                throw new Error('Network response was not ok');
	            }
	            console.log('Data sent successfully');
	            
	            //localStorage.removeItem('examId');
	            //localStorage.removeItem('userId');
	        })
	        .catch(error => {
	            console.error('Error sending data:', error);
	        });
	    } else {
	        console.log('No data found in local storage');
	    }
	    fetchAndDisplayExamName();
	}); 
	
	
    
        // Timer logic
      document.addEventListener('DOMContentLoaded', function() {
        const timerElement = document.getElementById('timer');
        const examId = sessionStorage.getItem('examId');
        let interval;
        let endTime;
        console.log("ID FOR TIMER", examId);
        
        function fetchRemainingTime() {
            fetch(`/getRemainingTime/${examId}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Remaining Time Data:', data); // Debugging: Log the fetched remaining time data
                    const remainingSeconds = data.remainingSeconds;
                    endTime = Date.now() + remainingSeconds * 1000; // Calculate the end time
                    startTimer(remainingSeconds); // Start the timer with the fetched remaining time
                })
                .catch(error => {
                    console.error('Error fetching remaining time:', error);
                });
        }

        function startTimer(initialRemainingSeconds) {
            function updateTimer() {
                const now = Date.now();
                const remainingSeconds = Math.max(Math.floor((endTime - now) / 1000), 0);
                console.log('Remaining seconds:', remainingSeconds); // Debugging: Log remaining seconds

                if (remainingSeconds <= 0) {
                    clearInterval(interval); // Stop updating the timer if time is up
                    timerElement.textContent = '00:00:00';
                    displaySavedAnswers(); // Trigger end exam button
                    localStorage.removeItem(`timer_${examId}`); // Remove the timer data from localStorage
                    console.log('Timer stopped.'); // Debugging: Log timer stopped
                    return; // Exit the function to prevent further execution
                }

                const hours = Math.floor((remainingSeconds % 86400) / 3600);
                const minutes = Math.floor((remainingSeconds % 3600) / 60);
                const seconds = remainingSeconds % 60;

                timerElement.textContent = `${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')}`;
                localStorage.setItem(`timer_${examId}`, remainingSeconds); // Store remaining time in localStorage
            }

            // Update the timer initially and then every second
            updateTimer();
            interval = setInterval(updateTimer, 1000);
        }
        
        function pollExamStatus() {
		    fetch(`/hasExamEnded?examId=${examId}`)
		        .then(response => {
		            if (!response.ok) {
		                throw new Error('Failed to fetch exam status.');
		            }
		            return response.json();
		        })
		        .then(data => {
		            if (data.result) {
		                clearInterval(interval);
		                timerElement.textContent = '00:00:00';
		                displaySavedAnswers();
		                localStorage.removeItem(`timer_${examId}`);
		                console.log('Exam ended.');
		            }
		        })
		        .catch(error => {
		            console.error('Error polling exam status:', error);
		        });
		}
		
		fetchRemainingTime();
		setInterval(pollExamStatus, 1000);

    });

	
	// display exam name
	function fetchAndDisplayExamName() {
		const examId = sessionStorage.getItem('examId');
		fetch('/exam/' + examId)
	        .then(response => {
	            if (!response.ok) {
	                throw new Error('Network response was not ok');
	            }
	            return response.json();
	        })
	        .then(data => {
	            console.log('Exam Details:', data); 
	            const examNameElement = document.getElementById('examNameMain');
	            if (examNameElement) {
	                examNameElement.textContent = data.examName;
	            }
	        })
	        .catch(error => {
	            console.error('Error fetching exam details:', error);
	        });
	}

	
 </script>       
</body>
</html>